
* {
    box-sizing: border-box !important;
}

#deliverBox {
    margin: 0 5px 0 0;
    padding: 0;
    position: static;
}


input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background: #28FF1D;
    background: -moz-linear-gradient(left, #28FF1D 0%, #FFFA00 45%, #FF0000 100%);
    background: -webkit-linear-gradient(left, #28FF1D 0%, #FFFA00 45%, #FF0000 100%);
    background: linear-gradient(to right, #28FF1D 0%, #FFFA00 45%, #FF0000 100%);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
}

span[data-counter-rating="0"] {
    padding: 0 5px 0 5px;
    text-align: center;

}

.caramel {
    background-color: #d88e6c;
    padding: 4px;
    color: floralwhite;
}

.almond {
    background-color: #763300;
    padding: 4px;
    color: floralwhite;
}

.mocha {
    background-color: #210d08;
    padding: 4px;
    color: floralwhite;
}



.spacer {
    display: flex;
    flex-flow: nowrap row;
    justify-content: flex-start;
    align-items: center;

}

.mybutton {
    position: absolute;
    width: 23px;
    border: none;
    border-radius: 100%;
    top: 25%;
    bottom: 25%
}

.muie {
    display: flex;
    flex-flow: nowrap row;
    justify-content: flex-start;
}

.muie p {
    background-color: rgba(0, 0, 0, .6);
    padding: 5px 10px 5px 40px;
    border-radius: 14px;
    margin: 0;

}

.muieDoi {
    background: white;
    color: black;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    padding-right: 15px;
    border-radius: 14px !important;
}

.muieDoi p {
    margin: 0;
}

.mybutton:active {
    background-color: #fff;
}
.inEdit {
    border: aliceblue dotted 2px;
    border-radius: 10px;
}

.checkbox {
    border-radius: 10px;
    padding: 8px 10px;
    text-align: center;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-evenly;
}

form :focus:required:invalid {
    border-color: #a94442;
}